#header {
    color: black;

}

#navigation1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
}

#navigation2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
}

#content {
    position: absolute;
    top: 10px;
}

table {
    color: red;
}

.alternative {
    color: blue;
}

#footer {
    position: absolute;
    bottom: 1em;
}

input[type="text"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: white;
    border-width: 0px;
    width: 500px;
    height: 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 1px #d9d9d9
}

input[type="submit"] {
    margin-right: 20px;
    margin-top: 40px;
}

.flex-center {

    display: flex;
    justify-content: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}